language: scala
sudo: false

jdk:
  - oraclejdk11

scala:
  - 2.12.10
  - 2.13.1

script:
  - sbt ++$TRAVIS_SCALA_VERSION test

before_cache:
  # Tricks to avoid unnecessary cache updates
  # http://www.scala-sbt.org/0.13/docs/Travis-CI-with-sbt.html
  - rm -fv $HOME/.ivy2/.sbt.ivy.lock
  - find $HOME/.ivy2 -name "ivydata-*.properties" -delete
  - find $HOME/.sbt -name "*.lock" -delete

cache:
  yarn: true
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt
    - $HOME/.coursier
    - $HOME/.cache/coursier/v1
