/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

div.mdoc-example {
  display: inline-block;
  width: 100%;
}

div.mdoc-example code {
  float: left;
  position: relative;
  width: 55%;
  font-size: smaller;
  height: 300px;
}

div.mdoc-example div[id^="mdoc-html-"] {
  float: right;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
  width: 44%;
  margin-left: 1px;
}

body {

}

.auto-resizable-iframe {
  max-width: 700px;
  margin: 0 auto;
}

.auto-resizable-iframe > div {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.auto-resizable-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* -- HOME PAGE -- */

.homeContainer, .mainHomeContainer {
  /*background: #002b36;*/
  background: #15414c;
  color: white;
}

.homeContainer .button {
  margin-bottom: 12px;
  border-color: white;
  color: white;
  font-weight: 600;
  transition: none;
}

.homeContainer .button:hover {
  border-color: #dc322f;
}

.homeContainer .buttonWrapper {
  margin: 0 4px;
}

.projectTitle {
  margin-top: 100px;
  font-size: 80px;
  color: white;
}

.projectTitle small {
  margin-top: 30px;
  line-height: 1.3em;
  font-size: 28px;
  /*color: white;*/
}

@media (max-width: 370px) {

  .projectTitle {
    font-size: 70px;
  }

  .projectTitle small {
    font-size: 24px;
  }
}

.homeContainer .-problem {
  margin: 24px auto;
  max-width: 700px;
  font-size: 18px;
  /*text-align: left;*/
  line-height: 1.5;
}

@media (max-width: 600px) {
  .homeContainer .-problem {
    /*text-align: left;*/
  }
}

.homeContainer .-problem a {
  color: white;
  text-decoration: underline;
}

.homeContainer .-problem a:hover {
  padding: 5px;
  margin: -5px;
  background: rgba(213, 49, 48, 0.6);
}

.-homeSection {
  padding: 60px 0 40px 0;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
}

.x-dark {
  /*background: #15414c;*/
  background: #002b36;
}

.-homeSection h1 {
  display: inline-block;
  margin-top: 0;
  padding: 10px 15px;
  color: white;
  background: #dc322f;
  font-weight: 700;
  letter-spacing: 0.02em;
}

.-homeSection h2 {
  margin-top: 30px;
  font-size: 1.4em;
  color: white;
}

@media (max-width: 600px) {

  .-homeSection h1 {
    margin-bottom: 5px;
  }

  .-homeSection h2 {
    margin-top: 50px;
  }
}

.-homeSection .wrapper {
  text-align: center;
}

.-homeSection .blockContent .gridBlock {
  font-size: 17px;
}

.-homeSection a {
  color: white;
  text-decoration: underline;
}

.-homeSection a:hover {
  padding: 5px;
  margin: -5px;
  background: rgba(213, 49, 48, 0.6);
}

.-homeGetStartedSection {
  padding-top: 50px;
}

.-homeGetStartedSection h1 {
  margin-bottom: 35px;
}

.-homeGetStartedSection h2 {
  margin-top: 50px;
}

.-homeGetStartedSection .-blogLink {
  font-size: 120%;
}

.-homeCommunitySection {
  margin: 40px auto 0 auto;
  padding: 0 10px;
  max-width: 700px;
  text-align: center;
}

.-homeCommunitySection .-narrower {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}

.-homeCommunitySection hr {
  margin: 30px auto;
  /*border-bottom: none;*/
  /*border-top: 1px solid white;*/
  max-width: calc(min(300px, 50vw));
}

.-homeCommunitySection .-emoji {
  color: white; /* returns opacity to 100% */
}

.-homeVideo {
  margin: 30px auto;
}

.-sponsorsList h2 {
  /*font-size: 150%;*/
  margin-top: 30px;
}

.-sponsorsList p {
  position: relative;
  left: -0.2em;
  font-size: 130%;
}

